<Files threads>
ForceType application/json
Header set Access-Control "allow <*>"
Header set Access-Control-Allow-Origin *
Header set Cache-control "max-age=0, must-revalidate"
</Files>

<Files post>
SetHandler cgi-script
</Files>
