body { background: #ba9 url('ba.png') fixed; color: #000; background-image: image('ba.webp' format('webp'), 'ba.png'); }
#thread_list, #reply_form { border: 4px double black; padding: 0.5em; margin: 0.5em; background: #cfc; }
#reply_form { position: fixed; right: 25%; top: 1em; width: 50%; text-align: center; }
input, textarea { display: block; width: 75%; margin: 0.5em auto; }
.thread_title { cursor: pointer; }
.thread_title:nth-child(even) { background: #beb; }
.thread { background: #eee; cursor: default; }
.comment:nth-child(even) { background: #ddd; }
.comment div { display: table-cell; vertical-align: middle; white-space: pre-wrap; }
.invalid { color: #ebb; }
.valid { color: #070; }
.post_number { font-size: xx-large; padding-right: 0.5em; }
#thread_button { position: fixed; top: 0; right: 0; background: #eee; }
.reply_button { display: inline; cursor: pointer; border: 1px solid #060; }
#close { position: absolute; right: 1em; height: 1em; width: 1em; text-align: center; border: 2px outset red; color: red; cursor: default; }
#close:active { border: 2px inset red; }
